.list {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.col {
  box-sizing: border-box;
  padding: 10px 15px;
  width: 33%;
  border-right: 2px solid #111d57;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col:last-child {
  border-right: none;
}

.colText {
  font-weight: bold;
  color: #29292d;
}

.colKey {
  font-weight: bold;
}

.colKeyGhost {
  color: #6a6a74 !important;
}

.colIdAvailable {
  color: rgb(64, 135, 30);
}

.colIdNotAvailable {
  color: rgb(126, 27, 27);
}
